
<div title="my footer" role="region">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 bg-dark text-white">
        <%- include('../partials/docs-nav')  %> 
        <p class="col-md-4 mb-0 text-muted" style="float: start;">&copy; 2023 Audio Catalog Generator</p>
        <p class="h5" style="float: end;">Powered by <a href="http://blindheroes.org/about-me/" target="__blank">Lewis Wood</a></p>
    </footer>
</div>


<%- include('../partials/docs-scripts') %>