<div role="region" title="LWood Profile" style="border: 3px solid;width: 45%;">
    <h2>Lewis Wood Profile</h2>
    <div style="width: 100%;">
<img 
src="/images/Lewis HeadShot Frontsuit 2023.png" 
alt="Lewis Wood Headshot" 
width="50%"
style="float: left;"
class="profile-img"/>
<ul class="exp-list" style="float: right;">
  <li>30+ years experience</li>
  <li>Currently TypeScript</li>
  <li>Express</li>
  <li>SQL, JSON</li>
  <li>WordPress/PHP</li>
  <li>DotNetNuke(VB.net & c#</li>
  <li>AS400, Clipper, dBase</li>
  <li>OS JCL</li>
</ul>
</div>

<p><em>Problem Solving</em> is my strongest attribute. I really enjoy a challenge and solving them.  A good <em>software engineer</em> analyzes a problem, designs, and creates the best solution with resources available. 
</p><p>I have a history of optimizing data retreival and writing in a manner that optimizes time for hardware and memory, and bandwidth.  First one took a state data write to floppy from 2 hours to 10 minutes (speed of write head, buggers, memory, cpu). 2nd major 1 phone analytic for multi lines & multi plans, calculate exactly what plans per phone &/or department.  Went from 2 days to 3 hours and better results (simple logic optimization & reordering).

</p><p>So if you need my services drop me a line.</p>
<h4>Resources</h4>
<a href="<%= website %>">Blind Heroes Website</a><br>
<a href="https://www.linkedin.com/in/lewislwood/">LinkedIn Profile</a><br>


  </div>