
        <h2>Quick Steps</h2>
<ol>
  <li><code>npm run start</code></li>
  <li><a href="/templates" target="__blank">Go to <%= serverURL %>templates </a></li>
  <li>Add media files and/or modify descriptor files</li>
  <li>Repeat step 2 Templates until done.</li>
  <li><a href="/api/import" target="__blank">Go to <%= serverURL %>/api/import </a></li>
  <li><a href="/make-html" target="__blank">Go to <%= serverURL %>make-html</a></li>
  <li><a href="/make-html?save=true" target="__blank">Go to <%= serverURL %>make-html?save=true</a></li>
  <li>Shut down this server. ctrl + c</li>
  <li>Public/index.html is the  catalog</li>
</ol>