<header class="p-3 bg-dark text-white mb-3">
    <div class="container">

<div class="ac-logo-container  col-sm-2 float-start">
    <img  class="ac-logo" src="<%= (action === "server")?"/":"" %>images/lw-logo.svg" alt="Audio Catalog Genrator"/> 
</div>
<div class="col-sm-10 align-middle"><p class="h1 fw-bold">LWood Audio Catalog Creator</p> </div>
<%- include("../partials/docs-nav")  %> 


        </div>
</header>