<header class="p-3 bg-dark text-white mb-4">
    <div class="container-SM">

<div class="col-sm-2 float-start logo-container">
    <img src="images/<%= (! logo) ? "logo.svg" : logo %>" class="logo" alt="<%= logoAlt %>"  /> 
</div>
<div class="col-sm-10 align-middle">
    <h1><%= cat_title %> </h1> 
</div>
</div>

<button id="helpButton"> 
    <img class="helpButtonImage" src="images/help.svg" alt="Shortcut keys Help Screen" />
    </button>
</header>