<%- include('../partials/docs-head') %>
<body class="p-2 bg-secondary text-primary">

  <div class="container-lg  d-flex flex-column">
  <%- include('../partials/docs-header') %>
  <DIV class="MW-LG D-FLEX JUSTIFY-SELF-CENTER">
    <div class="d-flex flex-row justify-between mb-0 pb-3 bg-dark text-white">
      
      <div class="col-sm-6" role="main" title="main">
        <h1 text-center"">Documentation Overview</h1>
        <p>Welcome to the Audio Catalog Generator. This simple to use generator will create an HTML page that will list, describe, and play your audio files. You can then simply copy and paste the public folder on any website as HTML files. Advanced users may use github to host your audio catalog for FREE.</p>
        
        <p>HThe HTML generator is SEO friendly,. That means google and other search engines will be able to find them, and you will get noticed. Those that produce musical content can provide a lower quality or excerpt of the actual music. Plus you can add links for where they can purchase it or get use rights.</p>
        
        <p>  Here your users can play the audio files.  Download the audio files. Bookmark, share and so on. This genrator requires no HTML or css knowledge. </p>
        
        <h2>What you  will need</h2>
        <ul>
        <li>text editor - Any will do.</li>
        <li><a href="https://nodejs.org/en/download/">NodeJS</a> - No programming needed just needs to be installed to generate the files. Select version for your system (Windows, Linux, Mac)</li>
        <li>Media Audio files such as mp3's, Wav, and so on.
        <li>Cloud Drive, WebSite, or GitHub if you want to share your Audio Catalog with the world.</li>
        </ul>
        
        <h2>Optional</h2>
        <p>Html/Css editor. This is for those that are comfortable making such modifications. It is not needed if you are okay with the Audio Catalog layout & colors I provided.</p>
        <p>GitHub account. This will allow you to dowload the entire project and host the html free for yourself</p>
        <p>SSH or GPC configured and linked to your github account. This will will allow automatic updates and  uploads. This is very Advanced you may need help possibly. You still other options.</p>
        
         
        
        
        </div>

        <%- include('../partials/docs-quick-steps') %>
</div>
</DIV>

<%- include('../partials/docs-footer') %>

</body>
</div>



</div>
</body>